<a href="https://colab.research.google.com/github/leifblake/cgt370lab2/blob/main/Blake_Leif_Lab2_CGT370.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lab 2: Data Manipulation with Pandas:

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')

file_path = '/content/drive/My Drive/Motor_Vehicle_Collisions_-_Crashes_20250127.csv'

df = pd.read_csv(file_path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<ipython-input-3-fd7982f1c8be>:12: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [ ]:
# Display the first few rows of the dataset
print(df.head())

# Display information about the dataset
print(df.info())

# Display summary statistics
print(df.describe())

   CRASH DATE CRASH TIME   BOROUGH ZIP CODE   LATITUDE  LONGITUDE  \
0  09/11/2021       2:39       NaN      NaN        NaN        NaN
1  03/26/2022      11:45       NaN      NaN        NaN        NaN
2  06/29/2022       6:55       NaN      NaN        NaN        NaN
3  09/11/2021       9:35  BROOKLYN  11208.0  40.667202 -73.866500
4  12/14/2021       8:13  BROOKLYN  11233.0  40.683304 -73.917274

                  LOCATION           ON STREET NAME CROSS STREET NAME  \
0                      NaN    WHITESTONE EXPRESSWAY         20 AVENUE
1                      NaN  QUEENSBORO BRIDGE UPPER               NaN
2                      NaN       THROGS NECK BRIDGE               NaN
3    (40.667202, -73.8665)                      NaN               NaN
4  (40.683304, -73.917274)          SARATOGA AVENUE    DECATUR STREET

           OFF STREET NAME  ...  CONTRIBUTING FACTOR VEHICLE 2  \
0                      NaN  ...                    Unspecified
1                      NaN  ...                            NaN
2                      NaN  ...                    Unspecified
3  1211      LORING AVENUE  ...                            NaN
4                      NaN  ...                            NaN

   CONTRIBUTING FACTOR VEHICLE 3  CONTRIBUTING FACTOR VEHICLE 4  \
0                            NaN                            NaN
1                            NaN                            NaN
2                            NaN                            NaN
3                            NaN                            NaN
4                            NaN                            NaN

   CONTRIBUTING FACTOR VEHICLE 5  COLLISION_ID  VEHICLE TYPE CODE 1  \
0                            NaN       4455765                Sedan
1                            NaN       4513547                Sedan
2                            NaN       4541903                Sedan
3                            NaN       4456314                Sedan
4                            NaN       4486609                  NaN

   VEHICLE TYPE CODE 2  VEHICLE TYPE CODE 3 VEHICLE TYPE CODE 4  \
0                Sedan                  NaN                 NaN
1                  NaN                  NaN                 NaN
2        Pick-up Truck                  NaN                 NaN
3                  NaN                  NaN                 NaN
4                  NaN                  NaN                 NaN

  VEHICLE TYPE CODE 5
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

[5 rows x 29 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2151168 entries, 0 to 2151167
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 476.0+ MB
None
           LATITUDE     LONGITUDE  NUMBER OF PERSONS INJURED  \
count  1.911572e+06  1.911572e+06               2.151150e+06
mean   4.061878e+01 -7.373590e+01               3.199614e-01
std    2.068666e+00  3.873375e+00               7.083777e-01
min    0.000000e+00 -2.013600e+02               0.000000e+00
25%    4.066752e+01 -7.397469e+01               0.000000e+00
50%    4.072052e+01 -7.392705e+01               0.000000e+00
75%    4.076961e+01 -7.386673e+01               0.000000e+00
max    4.334444e+01  0.000000e+00               4.300000e+01

       NUMBER OF PERSONS KILLED  NUMBER OF PEDESTRIANS INJURED  \
count              2.151137e+06                   2.151168e+06
mean               1.544300e-03                   5.823813e-02
std                4.146681e-02                   2.474319e-01
min                0.000000e+00                   0.000000e+00
25%                0.000000e+00                   0.000000e+00
50%                0.000000e+00                   0.000000e+00
75%                0.000000e+00                   0.000000e+00
max                8.000000e+00                   2.700000e+01

       NUMBER OF PEDESTRIANS KILLED  NUMBER OF CYCLIST INJURED  \
count                  2.151168e+06               2.151168e+06
mean                   7.656306e-04               2.796667e-02
std                    2.822509e-02               1.670092e-01
min                    0.000000e+00               0.000000e+00
25%                    0.000000e+00               0.000000e+00
50%                    0.000000e+00               0.000000e+00
75%                    0.000000e+00               0.000000e+00
max                    6.000000e+00               4.000000e+00

       NUMBER OF CYCLIST KILLED  NUMBER OF MOTORIST INJURED  \
count              2.151168e+06                2.151168e+06
mean               1.199348e-04                2.295232e-01
std                1.099319e-02                6.695449e-01
min                0.000000e+00                0.000000e+00
25%                0.000000e+00                0.000000e+00
50%                0.000000e+00                0.000000e+00
75%                0.000000e+00                0.000000e+00
max                2.000000e+00                4.300000e+01

       NUMBER OF MOTORIST KILLED  COLLISION_ID
count               2.151168e+06  2.151168e+06
mean                6.303552e-04  3.215618e+06
std                 2.746892e-02  1.507193e+06
min                 0.000000e+00  2.200000e+01
25%                 0.000000e+00  3.173912e+06
50%                 0.000000e+00  3.711852e+06
75%                 0.000000e+00  4.249873e+06
max                 5.000000e+00  4.787900e+06

In [ ]:
# Select the relevant columns
borough_injured_df = df[['BOROUGH', 'NUMBER OF PERSONS INJURED']]

print(borough_injured_df.head())

    BOROUGH  NUMBER OF PERSONS INJURED
0       NaN                        2.0
1       NaN                        1.0
2       NaN                        0.0
3  BROOKLYN                        0.0
4  BROOKLYN                        0.0

In [ ]:
# Filter rows where more than 2 people were injured
filtered_df = df[df['NUMBER OF PERSONS INJURED'] > 2]

# Select relevant columns (DATE and BOROUGH) and sort by NUMBER OF PERSONS INJURED
result_df = filtered_df[['CRASH DATE', 'BOROUGH', 'NUMBER OF PERSONS INJURED']].sort_values(
    by='NUMBER OF PERSONS INJURED', ascending=False
)

print(result_df.head())

         CRASH DATE   BOROUGH  NUMBER OF PERSONS INJURED
1693097  09/09/2013  BROOKLYN                       43.0
137328   07/21/2022       NaN                       40.0
2013419  04/07/2023    QUEENS                       34.0
1364279  04/17/2015    QUEENS                       32.0
796369   10/10/2017     BRONX                       31.0